/* body {
background-color: black;
} */

.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
  }
  
  .headingContainer {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #fff;
  }
  
  /* Accordion styles */
  .accordion {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
  }
  
  .accordionSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .heading {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: #fff;
  }
  
  .icon {
    transition: transform 0.2s ease;
    font-size: 16px;
    color: #fff;
  }
  
  .expanded {
    transform: rotate(180deg);
  }
  
  .accordionDetails {
    margin-top: 10px;
  }
  
  .answer {
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    color: rgba(255, 255, 255, 0.56);
  }
  